body{
    background-color: yellowgreen;
}
h1 + p {
    color: blueviolet;
}
input[type="text"]{
    background-color: black;
    color: wheat;
}
ul >  li{
    font-weight: bold;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
ul li:hover{
    color: brown;
    background-color: beige;
}
ul li:nth-child(3){
    background-color: rgba(110, 68, 224, 0.596);
    color: aqua;
}
p:not(:first-of-type){
  color: magenta;
  background-color: darkgreen; 
  text-decoration: underline; 
}
 li::before{
    content: "🧑‍🚀";
}
p::first-letter{
    font-size: 150%;
}

